<script src=""></script> <!-- Path is relative to index.html i.e. not ../script but ./script   Consider loginpage for interface-->
<div class="container">
    <nav
    class="navbar navbar-expand-lg navbar-light fixed-top mb-5 opacity-85 shadow-transition"
    data-navbar-on-scroll="data-navbar-on-scroll"
    style="
      background-image: none;
      transition: none 0s ease 0s;
      background-color: rgb(249, 250, 253);
    "
  >
    <div class="container">
      <a class="navbar-brand" href="index.html"
        ><img
          class="d-inline-block align-top img-fluid"
          src="./media/images/icons/logo.svg"
          alt=""
          width="50"
        /><span class="text-theme font-monospace fs-4 ps-2">Serve-D2D</span></a
      ><button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse border-lg-0 mt-4 mt-lg-0 collapse"
        id="navbarSupportedContent"
      >
      <div class="d-inline-block">
        <button class="btn btn-success" onclick="navigateTo('wallet')" >Wallet</button>
      </div>
      </div>
      <div class="d-flex">
        <button
          class="btn btn-lg btn-primary"
          onclick="logout()"
        >
          Logout
        </button>
      </div>
    </div>
    
  </nav>

  <div class="welcomeHeading text-center rounded">
    <h1>Welcome, John</h1>
  </div>

  <div class="box">
    <div class="container">
      <div class="row">
        <div class="myhover col-lg-2 col-md-4 col-sm-4 col-xs-12">
          <div id="orderButton" class="box-part text-center rounded">
            <div class="title">
              <h4>Your Orders</h4>
            </div>

            <div class="text">
              <span>Track Orders</span>
            </div>
          </div>
        </div>

        <div class="myhover col-lg-2 col-md-4 col-sm-4 col-xs-12">
          <div id="loginDetailsButton" class="box-part text-center rounded">
            <div class="title">
              <h4>Login & Security</h4>
            </div>

            <div class="text">
              <span>Edit login details</span>
            </div>
          </div>
        </div>

        <div class="myhover col-lg-2 col-md-4 col-sm-4 col-xs-12">
          <div id="addressesButton" class="box-part text-center rounded">
            <div class="title">
              <h4>Your Addresses</h4>
            </div>

            <div class="text">
            </body>
            
            </html>for orders</span>
            </div>
          </div>
        </body>
        navigateTo('consumer');
              <h4>Reviews</h4>
            </div>

            <div class="text">
              <span>Maintain your reviews</span>
            </div>
          </div>
        </div>

        <div class="myhover col-lg-2 col-md-4 col-sm-4 col-xs-12">
          <div id="chatButton" class="box-part text-center rounded">
            <div class="title">
              <h4>Chats</h4>
            </div>

            <div class="text">
              <span>Chats</span>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div style="justify-content: center">
          <div
            class="spinner-grow text-success"
            style="width: 3rem; height: 3rem"
            role="status"
            id="loading"
          ></div>
        </div>

        <div id="resultArea" class="row"></div>
        <br />
        <p id="resultPara">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Et
          sollicitudin ac orci phasellus. Quam adipiscing vitae proin sagittis
          nisl rhoncus mattis. Est placerat in egestas erat imperdiet sed
          euismod nisi porta. Eget lorem dolor sed viverra ipsum. Congue eu
          consequat ac felis donec et odio pellentesque diam. Nunc faucibus a
          pellentesque sit amet porttitor eget dolor morbi. Quisque id diam vel
          quam elementum pulvinar etiam non. Vel facilisis volutpat est velit
          egestas dui id ornare arcu. Commodo quis imperdiet massa tincidunt
          nunc pulvinar sapien et. Ipsum consequat nisl vel pretium lectus quam
          id leo in. Metus aliquam eleifend mi in. Netus et malesuada fames ac
          turpis egestas integer. Et malesuada fames ac turpis egestas sed
          tempus urna et. Sem nulla pharetra diam sit amet nisl suscipit
          adipiscing bibendum. Ac auctor augue mauris augue neque gravida in.
          Sodales neque sodales ut etiam sit amet nisl purus in. Risus in
          hendrerit gravida rutrum quisque. Vitae ultricies leo integer
          malesuada nunc vel risus commodo viverra. Viverra tellus in hac
          habitasse. Iaculis eu non diam phasellus vestibulum. Orci sagittis eu
          volutpat odio facilisis mauris sit amet.
        </p>
      </div>
    </div>
  </div>
</div>
