<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Customer DashBoard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="..\css\bootstrap.min.css">
    <script src="..\scripts\jquery-3.6.0.js"></script>
    <script src="..\scripts\customer_dashboard.js"></script>

    <style>
        body {
            padding-top: 120px;
        }

        .box {
            padding: 15px 0px;
        }

        span {
            font-size: 15px;
        }

        .box-part {
            background: #FFF;
            border-radius: 0;
            padding: 15px 10px;
            margin: 5px 0px;
            cursor: pointer;

        }

        .myhover {
            margin: 0px 0px;
            margin-bottom: 10px;



        }

        .myhover :hover {

            background-color: #111;
            color: #EEE;
        }

        .text {
            margin: 10px 0px;
        }

        .fa {
            color: #4183D7;
        }

        .welcomeHeading {
            background: #000;
            color: #EEE;
            border-radius: 0;
            padding: 7px 10px;
            margin-top: 2px;

            width: auto;

        }
    </style>
</head>

<body>
    <div class="container">

        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top mb-5 opacity-85 shadow-transition"
            data-navbar-on-scroll="data-navbar-on-scroll"
            style="background-image: none; transition: none 0s ease 0s; background-color: rgb(249, 250, 253);">
            <div class="container"><a class="navbar-brand" href="index.html"><img
                        class="d-inline-block align-top img-fluid" src="../media/images/icons/logo.svg" alt=""
                        width="50"><span class="text-theme font-monospace fs-4 ps-2">Serve-D2D</span></a><button
                    class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="navbar-collapse border-lg-0 mt-4 mt-lg-0 collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page"
                                href="#header">Home</a></li>
                        <li class="nav-item px-2"><a class="nav-link fw-medium" href="#about">About</a></li>
                        <li class="nav-item px-2"><a class="nav-link fw-medium" href="#categories">Categories</a></li>
                        <!-- <li class="nav-item px-2"><a class="nav-link fw-medium" href="#invest">Invest</a></li>
              <li class="nav-item px-2"><a class="nav-link fw-medium" href="#contact">Contact </a></li> -->
                    </ul>
                    <form class="d-flex"><button class="btn btn-lg btn-dark bg-gradient order-0" type="submit">Log
                            Out</button></form>
                </div>
            </div>
        </nav>




        <div class="welcomeHeading text-center rounded">
            <h1>Welcome, John</h1>
        </div>


        <div class="box">
            <div class="container">


                <div class="row">



                    <div class="myhover col-lg-2 col-md-4 col-sm-4 col-xs-12">

                        <div id="orderButton" class="box-part text-center rounded">

                            <div class="title">
                                <h4>Your Orders</h4>
                            </div>

                            <div class="text">
                                <span>Track Orders</span>
                            </div>

                        </div>

                    </div>

                    <div class="myhover col-lg-2 col-md-4 col-sm-4 col-xs-12">

                        <div id="loginDetailsButton" class="box-part text-center rounded">


                            <div class="title">
                                <h4>Login & Security</h4>
                            </div>

                            <div class="text">
                                <span>Edit login details</span>
                            </div>

                        </div>

                    </div>

                    <div class="myhover col-lg-2 col-md-4 col-sm-4 col-xs-12">

                        <div id="addressesButton" class="box-part text-center rounded">


                            <div class="title">
                                <h4>Your Addresses</h4>
                            </div>

                            <div class="text">
                                <span>Edit addresses for orders</span>
                            </div>

                        </div>

                    </div>

                    <div class="myhover col-lg-2 col-md-4 col-sm-4 col-xs-12">

                        <div id="walletButton" class="box-part text-center rounded">

                            <i class="fa fa-3x" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Wallet Balance</h4>
                            </div>

                            <div class="text">
                                <span>Check your wallet details</span>
                            </div>

                        </div>

                    </div>
                    <div class="myhover col-lg-2 col-md-4 col-sm-4 col-xs-12">

                        <div id="reviewsButton" class="box-part text-center rounded">


                            <div class="title">
                                <h4>Reviews</h4>
                            </div>

                            <div class="text">
                                <span>Maintain your reviews</span>
                            </div>

                        </div>

                    </div>

                    <div class="myhover col-lg-2 col-md-4 col-sm-4 col-xs-12">

                        <div id="chatButton" class="box-part text-center rounded">


                            <div class="title">
                                <h4>Chats</h4>
                            </div>

                            <div class="text">
                                <span>Chats</span>
                            </div>

                        </div>

                    </div>
                </div>

                
                <div class="content">
                    <div style="justify-content: center;">
                        <div class="spinner-grow text-success" style="width: 3rem; height: 3rem;" role="status"
                            id="loading"></div>
                    </div>
                    
                    <div id="resultArea" class="row">


                    </div>
                    <br>
                    <p id="resultPara">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Et sollicitudin ac orci phasellus. Quam adipiscing vitae
                        proin sagittis nisl rhoncus mattis. Est placerat in egestas erat imperdiet sed euismod nisi
                        porta. Eget lorem dolor sed viverra ipsum. Congue eu consequat ac felis donec et odio
                        pellentesque diam. Nunc faucibus a pellentesque sit amet porttitor eget dolor morbi. Quisque
                        id diam vel quam elementum pulvinar etiam non. Vel facilisis volutpat est velit egestas dui
                        id ornare arcu. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Ipsum
                        consequat nisl vel pretium lectus quam id leo in.

                        Metus aliquam eleifend mi in. Netus et malesuada fames ac turpis egestas integer. Et
                        malesuada fames ac turpis egestas sed tempus urna et. Sem nulla pharetra diam sit amet nisl
                        suscipit adipiscing bibendum. Ac auctor augue mauris augue neque gravida in. Sodales neque
                        sodales ut etiam sit amet nisl purus in. Risus in hendrerit gravida rutrum quisque. Vitae
                        ultricies leo integer malesuada nunc vel risus commodo viverra. Viverra tellus in hac
                        habitasse. Iaculis eu non diam phasellus vestibulum. Orci sagittis eu volutpat odio
                        facilisis mauris sit amet.
                    </p>
                </div>

            </div>
        </div>



    </div>

</body>

</html>