<!DOCTYPE html>

<html lang="en" style="background-image:url(../media/images/a.jpg)">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="..\css\bootstrap.min.css">
		<script src="..\scripts\jquery-3.6.0.js"></script>
		<script src="..\scripts\login.js"></script>
		<title>LoginPage</title>
		<link rel="stylesheet" href="..\css\login.css">

	</head>
	<body background-image=url(../media/images/loginPic.jpg)">

		<div class="outFrame">
			<div class="inFrame">
				<div class="leftpic">
					<img src="../media/images/loginPic.jpg" height="100%" width="100%">
				</div>
				<div class="rightact">
					<div class="myIcon"><img src="../media/images/blueIcon.jpg"
							height="30px"
							width="30px"></div>
					<form class="block">
						<h3 class="2">LOGIN FORM</h3>
						<input type="text" id="email" placeholder="Enter your Email"><br>
						<input type="Password" id="pswd" placeholder="Enter your Password"><br><br>
						<button type="submit" class="btn btn-primary" id="loginBtn">Submit</button>
						<a href="SignUp.html" style="float:right; margin-right: 50px;
							font-family: monospace; color:#008CBA;">NEW USER? SIGN UP</a>
					</form>

				</div>
			</div>
		</div>
	</body></html>