<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE = "html PUBLIC">
<html xmlns=" ">

<html style="background-image:url(../media/images/a.jpg)">
	<head>
		<title>LoginPage</title>
		 <link rel="stylesheet" href="..\css\login.css">
			
	</head>
	<body background-image=url(../media/images/loginPic.jpg)">
        
	<div class="outFrame">
		<div class="inFrame">
			<div class="leftpic">
                <img src="../media/images/loginPic.jpg" height="100%" width="100%">
			</div>
			<div class="rightact">
                <div class="myIcon"><img src="../media/images/blueIcon.jpg" height="30px" width="30px"></div>
				<form class="block" method = "post" action="handlelogin.php"  enctype = "multipart/form-data">
                    <h3 class="2">LOGIN FORM</h3>
					<input type="text" name="usernm" placeholder="Enter your UserName"><br>
					<input type="Password" name="pswd" placeholder="Enter your Password"><br><br>
					<input type="submit" class="LoginButton" value="Login"><br><br>
					
                    <a href="SignUp.html" style="float:right; margin-right: 50px; font-family: monospace; color:#008CBA;">NEW USER? SIGN UP</a>
                </form>
	
			</div>
		</div>
	</div>
	</body></html>
	