    <div class="container" >
    <section class="py-0 mb-1" id="header">
      <div class="container">
        <div class="row my-0">
            <div class="mx-auto col-3"><h1 class=""><b>Reviews</b> </h1></div>
            <div class="col-9 text-end text-secondary" id="avg_rating"><div>
            
        </div>
      </div>
    </section>
    
    <hr>
    

    <div class="container">
      <div class="text-center" id="review_list">
        <div
          class="spinner-grow text-success"
          style="width: 3rem; height: 3rem"
          role="status"
          id="rloading"
        >
        </div>
      </div>
      
    </div>
 
<script src="scripts\review.js"></script>
