<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\bootstrap.min.css">
    <script src="..\scripts\jquery-3.6.0.js"></script>
    <script src="..\scripts\search_params.js"></script>
    <script src="..\scripts\servicelist.js"></script>
    <script src="..\scripts\get_services.js"></script>
    <title>Services</title>
</head>
<body>
    <div style="padding:5%">
        <div>
            <h1><p class="serviceCategory"></p></h1>
            <hr style="width:100%;height:3px;">
        </div>
        <div id="serviceBlockId">

        </div>
    </div>
</body>
</html>