<nav class="navbar navbar-expand-lg navbar-light fixed-top mb-5
          opacity-85
          shadow-transition" data-navbar-on-scroll="data-navbar-on-scroll" style="background-image: none; transition: none 0s ease 0s;
          background-color: rgb(249, 250, 253);">
	<div class="container"><a class="navbar-brand" href="index.html"><img class="d-inline-block align-top img-fluid"
				src="./media/images/icons/logo.svg" alt="" width="50"><span
				class="text-theme font-monospace fs-4 ps-2">Serve-D2D</span></a><button class="navbar-toggler collapsed"
			type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
				class="navbar-toggler-icon"></span></button>
		<div class="navbar-collapse border-lg-0 mt-4 mt-lg-0 collapse" id="navbarSupportedContent">
			<button class="btn
                  btn-lg
                  btn-dark bg-gradient order-0" onclick="navigateTo('login')">Login</button></form>
		</div>
	</div>
</nav>
<form class="block">
	<h3 class="2">SIGN-UP FORM</h3>
	<input type="text" name="username" placeholder="Enter your Name"><br>
	<input type="text" name="emailid" placeholder="Enter your Email-Id"><br>
	<input type="Password" name="pass" placeholder="Enter your Password"><br>
	<input type="Password" name="confpass" placeholder="Confirm your
	Password"><br><br>
	<button class="btn
	btn-lg
	btn-dark bg-gradient order-0" onclick="">Sigh Up</button>
</form>